body {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#calculator {
  height: 510px;
  width: 400px;
  padding: 10px;
  margin: 0;
  background-color: black;
  display: grid;
  gap: 0.25rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat repeat(6, 1fr);
}

#display {
  background-color: lightslategray;
  text-align: right;
  font-size: 4rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  padding: 10px;
  grid-column: span 4;
  grid-row: span 1;
  height: 100px;
}
.output {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.previous {
  width: 50px;
  font-size: 20px;
  text-align: left;
}
.current {
  font-size: larger;
}
.zero {
  grid-column: span 2;
}
.clear {
  grid-column: span 2;
}
button {
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
button:hover {
  color: white;
  background-color: palevioletred;
}

.operator {
  background-color: #40bf77;
}

.digit {
  background-color: #cf593f;
}

.c1 {
  background-color: aqua;
}
